@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.loading {
    border: 6px solid #f3f3f3;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    /* Centra el círculo de carga */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas */
    .logo {
        width: 70%;
        text-align: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .login {
        padding: 5%;
    }
}


/* Estilos para pantallas con un ancho mínimo de 768px y un máximo de 991px (pantallas medianas como tabletas) */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos específicos para pantallas medianas */
    .login {
        padding: 5%;
        width: 70%;
        text-align: center;
        margin-top: 15;
        margin-bottom: 15%;
    }
}


/* Estilos para pantallas con un ancho mínimo de 992px (pantallas grandes como escritorios) */

@media screen and (min-width: 992px) {
    /* Estilos específicos para pantallas grandes */
    .logo {
        width: 70%;
        text-align: center;
        margin-top: -15%;
        margin-bottom: 15%;
    }
    .login {
        padding: 10%;
    }
}

.login {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

body {
    background: linear-gradient(to right, #2c3e50, #3498db);
    /* Gradiente azul */
    color: #ecf0f1;
    /* Texto en blanco */
    /* Añade algunos post-its */
    position: relative;
}


/* Agrega un suave movimiento */

@keyframes colorChange {
    0% {
        background-color: #3498db;
    }
    50% {
        background-color: #2ecc71;
    }
    100% {
        background-color: #3498db;
    }
}

body {
    animation: colorChange 10s infinite;
}

#dropzone {
    background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 40px, rgba(20, 43, 126, 0.12) 40px, rgba(20, 43, 126, 0.12) 60px);
    position: relative;
    border: 10px dotted rgba(0, 100, 0, 0.9);
    ;
    border-radius: 20px;
    color: black;
    height: 250px;
    margin: 30px;
    text-align: center;
    vertical-align: center;
    width: 95%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#dropzone.hover {
    border: 10px solid #FE5;
    color: #FE5;
    background-color: rgba(255, 255, 255, 1);
}

#dropzone.dropped {
    background-color: rgb(255, 255, 255);
    border: 10px solid blue;
}

#dropzone div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#dropzone img {
    border-radius: 10px;
    vertical-align: middle;
    max-width: 95%;
    max-height: 95%;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}